VITE_API_URL=http://localhost:5000
VITE_SEPAY_BANK_ID=MBBank
VITE_SEPAY_BANK_ACC=08222216167810
VITE_SEPAY_BANK_HOLDER=NGUYEN VAN QUOC BAO
VITE_VIETMAP_KEY=your_vietmap_key_here
GEMINI_API_KEY=your_gemini_api_key_here
